<!DOCTYPE html>
<html>
<head>
    <title>reichmap</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="css/kube.min.css" />
    <link rel="stylesheet" href="css/dropzone.css">
</head>
<body>
    <row centered>
        <column cols="8">
        </column>
    </row>

    <row centered>
        <column cols="8">
            <h1 class="title">reichmap</h1>
            <p class="lead">reichmap is an application to display samples using Google Maps.</p>
            <br/>
            <form action="/upload" class="dropzone" id="dz">
                <div class="dz-message">Drop an *.anno file here to work with your dataset!</div>
            </form>
        </column>
    </row>

    <script src="js/dropzone.js"></script>
    <script>
        Dropzone.options.dz = {
            init: function() {
                this.on("success", function(file) { window.location = "/samples" });
            },
            maxFiles: 1
        };
    </script>
</body>
</html>